/*
* @Author: JimmyLLLL
* @Date:   2018-04-11 23:53:42
* @Last Modified by:   JimmyLLLL
* @Last Modified time: 2018-04-20 11:04:18
*/
/*新增partner的功能按钮*/
#showaddInfo
{
	position: absolute;
	left: 0px;
	height: 0px;
	top: 0px;
	color: white;
	width: 30px;
	background-color: red;
	z-index: 4;

}




#addInfo
{
	border-radius: 15px;
    display: none;	
	position: absolute;
	border: 1px solid white;
	left: 1025px;
	top: 191px;
	height: 354px;
	width: 325px;
}
.addInClass
{
	color: black;
	top: 38px;
	position: relative;
	margin-top: 10px;
	width: 280px;
	left: 14px;
	font-size: 20px;
	border-radius: 10px;
	background-color: transparent;
	border: 1px solid black;
}
#addInfoBtn
{
	position: relative;
	top: 86px;
	left: 135px;
	padding: 6px;
	background-color: red;
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
	z-index: 3;
	border-radius: 10px;
}
#addInfoBtn:hover
{
	background-color: green;
}
.addInClass::-webkit-input-placeholder{ /*WebKit browsers*/
font-size: 20px;
color: white;
}
.addInClass::-moz-input-placeholder{ /*Mozilla Firefox*/
font-size: 20px;
color: white;
}
.addInClass::-ms-input-placeholder{ /*Internet Explorer*/ 
font-size: 20px;
color: white;
}
#addInfoP
{
	font-size: 24px;
	color: black;
	position: absolute;
	left: 95px;
	top: 11px;
}