/*
* @Author: JimmyLLLL
* @Date:   2018-04-16 21:58:13
* @Last Modified by:   JimmyLLLL
* @Last Modified time: 2018-04-24 16:55:44
*/
.thData
{
	color: green;
	cursor: pointer;
}
.thData:hover
{
background-color: grey;
color: black;
}
