/*
* @Author: JimmyLLLL
* @Date:   2018-04-11 19:10:30
* @Last Modified by:   JimmyLLLL
* @Last Modified time: 2018-04-17 17:08:22
*/
#searchText
{
	width: 350px;
	border: none;
	border-bottom: 2px grey solid;
	font-size: 30px;
	color: #797979;
}
#searchButton
{
	padding: 11px;
	background-color: red;
	color: white;
	cursor: pointer;
	outline: none;
	border: none;
}
#search
{
	top: 133px;
	display: none;
	position: absolute;
	left: 400px;
}
#searchText::-webkit-input-placeholder{ /*WebKit browsers*/
font-size: 30px;
color: #bdbdbd;
}
#searchText::-moz-input-placeholder{ /*Mozilla Firefox*/
font-size: 30px;
color: #bdbdbd;
}
#searchText::-ms-input-placeholder{ /*Internet Explorer*/ 
font-size: 30px;
color: #bdbdbd;
}